<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>hola</h1>
<%= yield %>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nam, sed in blanditiis culpa earum dolor est totam adipisci facilis voluptatibus nobis beatae tempora eaque laboriosam dolorem rem dicta a?
</body>
</html>
